おつかれさまでした！
{{#isWorkshop}}

後日引き続きワークショップがある場合
---

後日のワークショップで再開する際に、issueタイトルの日付を更新してreopenしてください！

ワークショップ終了後に続きがしたい場合
---

issueはクローズしますが、その後も作業を続けていただいて大丈夫です！

是非このissueを活用なさってください。
{{/isWorkshop}}
{{#hasEvents}}

今後のイベントの案内
---

現在以下のイベントの開催を予定しています。

{{#events}}
  - [{{event.title}}]({{event.public_url}})
{{/events}}

参加をお待ちしてます！
{{/hasEvents}}
