おつかれさまでした！

続きがしたい人へ
---

issueはクローズしますが、その後も作業を続けていただいて大丈夫です！

是非このissueを活用なさってください。
{{#hasEvents}}

今後のイベントの案内
---

現在以下のイベントの開催を予定しています。

{{#events}}
  - [{{event.title}}]({{event.public_url}})
{{/events}}

参加をお待ちしてます！
{{/hasEvents}}
