おつかれさまでした！

{{#isWorkshop}}
ワークショップの終了にともないissueを閉じますが、このまま作業メモとして使っても構いません :ok_hand:

[ワークショップの感想](https://oss-gate.github.io/workshop/report.html)を集めています！

ブログなどに書かれた際は、[このページ](https://github.com/oss-gate/oss-gate.github.io/blob/master/workshop/report.md)へリンクの追加をお願いします :pray:

{{/isWorkshop}}
{{#hasEvents}}
今後もイベントの開催を予定しています。

{{#events}}
  - [{{event.title}}]({{event.public_url}})
{{/events}}

{{/hasEvents}}
またの参加をお待ちしています！
